
.bb-xs {
    border-bottom: 0.1rem solid rgb(55, 58, 60);
}

.bb-sm {
    border-bottom: 0.2rem solid rgb(55, 58, 60);
}

.bb-md {
    border-bottom: 0.3rem solid rgb(55, 58, 60);
}

.bb-lg {
    border-bottom: 0.4rem solid rgb(55, 58, 60);
}

.bb-xl {
    border-bottom: 0.5rem solid rgb(55, 58, 60);
}

.p-h {
    padding: 0.5rem;
}

.pb-h {
    padding-bottom: 0.5rem;
}

.hover-underline {
    border: 0.2rem solid transparent;
}

a.hover-underline.active, .hover-underline:hover {
    border-bottom: 0.2rem solid white;
}

.w-50 {
    width: 50%;
}

.bs-mt-buf {
    margin-top: 15px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.abs-bl {
    bottom: 0;
    left: 0;
}

.bg-faded {
    background-color: rgba(55, 58, 60, .9);
}

.home-page-card {
    overflow: hidden;
}

.home-page-card>.home-page-card-name {
    opacity: 0;
    transition: opacity .25s;
}

.home-page-card:hover>.home-page-card-name {
    opacity: 1.0;
}