
.bb-xs {
    border-bottom: 0.1rem solid rgb(55, 58, 60);
}

.bb-sm {
    border-bottom: 0.2rem solid rgb(55, 58, 60);
}

.bb-md {
    border-bottom: 0.3rem solid rgb(55, 58, 60);
}

.bb-lg {
    border-bottom: 0.4rem solid rgb(55, 58, 60);
}

.bb-xl {
    border-bottom: 0.5rem solid rgb(55, 58, 60);
}

.p-h {
    padding: 0.5rem;
}

.pb-h {
    padding-bottom: 0.5rem;
}

.hover-underline {
    padding: .2rem .2rem 0 .2rem;
    border-bottom: 0.2rem solid transparent;
}

a.hover-underline.active, .hover-underline:hover {
    border-bottom: 0.2rem solid white;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.bs-mt-buf {
    margin-top: 15px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.abs-bl {
    bottom: 0;
    left: 0;
}

.bg-faded {
    background-color: rgba(55, 58, 60, .9);
}

.hr-tapper {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(55, 58, 60, 0), rgba(55, 58, 60, .75), rgba(55, 58, 60, 0));
}

.home-page-card {
    overflow: hidden;
}

.home-page-card > .home-page-card-name {
    opacity: 0;
    transition: opacity .25s;
}

.home-page-card:hover > .home-page-card-name {
    opacity: 1.0;
}

.carou-nav {

}

.carou-nav-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carou-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.carou-nav-item > img {
    height: 100px;
    width: 100px;
    transition: width .25s, height .25s;
}

.carou-nav-item:hover > img {
    height: 125px;
    width: 125px;
}

.carou-nav-item.selected > img {
    height: 125px;
    width: 125px;
}

.carou-nav-item.selected > img:hover {
    cursor: default;
}

.article img.float-xs-right {
    margin-left: 1rem;
}

.article img.float-xs-left {
    margin-right: 1rem;
}

.gallery {
    margin-top: .75rem;
}

.gallery-img {
    width: 100%;
}

.filter-group .list-group .list-group-item.active {
    background-color: rgb(55, 58, 60);
    border-color: rgb(55, 58, 60);
}

.article-list-item {
    margin-bottom: 1rem;
    background-color: rgba(55, 58, 60, .1);
    cursor: pointer;
    padding: .5rem;
    transition: background-color .25s;
}

.article-list-item:hover {
    background-color: rgba(55, 58, 60, 0);
}

.d-inline {
    display: inline;
}

.list-group.unrounded>.list-group-item:first-child,
.list-group.unrounded>.list-group-item:last-child {
    border-radius: 0;
}

#articleModal img {
    margin: .5rem;
}

#articleModal img.float-xs-left {
    margin-left: 0;
}

#articleModal img.float-xs-right {
    margin-right: 0;
}